<!doctype html>
<html class="no-js" lang="tr">
<head>
    <%- include('partials/head') %>
</head>

<body>
    <!--********************************
   		    <div class="preloader ">
        <div class="preloader-inner">
            <span class="loader"></span>
        </div>
    </div>
	******************************** -->
    <div class="sidemenu-wrapper">
        <div class="sidemenu-content">
            <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget footer-widget">
                <div class="widget-about">
                    <div class="footer-logo">
                        <a href="/"><img src="/img/logo-white.svg" alt="AtlasFit"></a>
                    </div>
                    <p class="about-text">Hesaplayıcı uygulamaları, faydalı bilgiler içeren blog sayfası. AtlasFit</p>
                    <div class="social-btn">
                        <a href="https://www.facebook.com/"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="widget widget_nav_menu footer-widget">
                <h3 class="widget_title">Bağlantılar</h3>
                <ul class="menu">
                    <li><a href="/iletisim">Iletişime geç</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-area text-center">
            <button class="menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo">
                <a href="/"><img src="/img/logo.svg" alt="AtlasFit"></a>
            </div>
            <div class="mobile-menu">
                <ul>
                    <li class="menu-item">
                        <a href="/blog">Blog</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Hesaplayıcı APP</a>
                        <ul class="sub-menu">
                            <li><a href="/hesap-kitle">Vucüt Kitle İndeksi</a></li>
                            <li><a href="/hesap-bazal">Bazal Metabolizma</a></li>
                            <li><a href="/hesap-kalori">Günlük Kalori İhtiyacı</a></li>
                            <li><a href="/hesap-vucutyag">Vucüt Yağ Oranı</a></li>
                            <li><a href="/hesap-idealkilo">İdeal Kilo Hesaplama</a></li>
                            <li><a href="/hesap-gunluksu">Günlük Su İhtiyacı Hesaplama</a></li>
                        
                        </ul>
                    </li>                            
                </ul>
            </div>
        </div>
    </div>
    <header class="nav-header header-layout2">
        <div class="header-top d-lg-block d-none">
            <div class="container-fluid">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-links">
                            <ul>
                                <li><i class="far fa-envelope"></i><a href="mailto:alperenvural10@gmail.com">alperenvural10@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-links">
                            <ul>
                                <li>
                                    <div class="social-links">
                                        <span class="me-3">Bilgisayar Programcılığı Bitirme Projesi.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-start justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                            <h1 style="color: white;">
                              AtlasFit
                            </h1>
                            </div>
                        </div>
                        <div class="col-auto m-lg-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li class="menu-item">
                                        <a href="/blog">Blog</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Hesaplayıcı APP</a>
                                        <ul class="sub-menu">
                                            <li><a href="/hesap-kitle">Vucüt Kitle İndeksi</a></li>
                                            <li><a href="/hesap-bazal">Bazal Metabolizma</a></li>
                                            <li><a href="/hesap-kalori">Günlük Kalori İhtiyacı</a></li>
                                            <li><a href="/hesap-vucutyag">Vucüt Yağ Oranı</a></li>
                                            <li><a href="/hesap-idealkilo">İdeal Kilo Hesaplama</a></li>
                                            <li><a href="/hesap-gunluksu">Günlük Su İhtiyacı Hesaplama</a></li>
                                        
                                        </ul>
                                    </li>                            
                                </ul>
                            </nav>
                            <div class="navbar-right d-inline-flex d-lg-none">
                                <button type="button" class="menu-toggle icon-btn"><i class="far fa-bars"></i></button>
                            </div>
                        </div>
                        <div class="col-auto d-xxl-block d-none">
                            <div class="navbar-right-desc">
                                <i class="fas fa-phone-volume"></i><a href="tel:+905307827442">+90 530 782 7442</a>
                            </div>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <div class="header-button">
                                <a href="/iletisim" class="btn style2 style-r0 d-xl-block d-none">
                                    Iletişim
                                </a>
                                <button type="button" class="btn style-r0 btn-border3 sideMenuToggler">
                                    <i class="far fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="hero-wrapper hero-2" id="hero">
        <div class="global-carousel" id="heroSlider2" data-fade="true" data-slide-show="1" data-lg-slide-show="1" data-md-slide-show="1" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true" data-xl-arrows="true" data-ml-arrows="true">
            <div class="hero-slider" data-bg-src="/img/hero/hero_bg_2_1.png">  
                <div class="hero-shape2-1 shape-mockup movingX" data-bottom="-165px" data-left="0">
                    <img src="/img/hero/hero_shape_2-1.png" alt="img">
                </div> 
                <div class="hero-shape2-2 shape-mockup jump2" data-bottom="-50px" data-right="-10%">
                    <img src="/img/hero/hero_shape_2-2.png" alt="img">
                </div>  
                <div class="hero-shape2-3 shape-mockup jump2" data-top="-30%" data-left="-30%">
                    <img src="/img/hero/hero_shape_2-3.png" alt="img">
                </div>   
                <div class="container">
                    <div class="row justify-content-lg-end justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-md-9">
                            <div class="hero-style1">
                                <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0s">BESLENME, ANTREMAN, BLOG</span>
                                <h1 class="hero-title text-white" data-ani="slideinup" data-ani-delay="0.1s">Kendini
                                    <span>Geliştirmeye</span> hazır
                                    mısın?</h1>
                                <div class="btn-group" data-ani="slideinup" data-ani-delay="0.2s">
                                    <a href="/blog" class="btn style2">Başla</a>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            <div class="hero-slider" data-bg-src="/img/hero/hero_bg_2_2.png">  
                <div class="hero-shape2-1 shape-mockup movingX" data-bottom="-165px" data-left="0">
                    <img src="/img/hero/hero_shape_2-1.png" alt="img">
                </div> 
                <div class="hero-shape2-2 shape-mockup jump2" data-bottom="-50px" data-right="-10%">
                    <img src="/img/hero/hero_shape_2-2.png" alt="img">
                </div>  
                <div class="hero-shape2-3 shape-mockup jump2" data-top="-30%" data-left="-30%">
                    <img src="/img/hero/hero_shape_2-3.png" alt="img">
                </div>   
                <div class="container">
                    <div class="row justify-content-lg-end justify-content-center">
                        <div class="col-xl-6 col-lg-7 col-md-9">
                            <div class="hero-style1">
                                <span class="hero-subtitle" data-ani="slideinup" data-ani-delay="0s">BESLENME, ANTREMAN, BLOG</span>
                                <h1 class="hero-title text-white" data-ani="slideinup" data-ani-delay="0.1s">Kendini
                                    <span>Geliştirmeye</span> hazır
                                    mısın?</h1>
                                <div class="btn-group" data-ani="slideinup" data-ani-delay="0.2s">
                                    <a href="/blog" class="btn style2">Başla</a>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>  
        <div class="hero-arrow">
            <button data-slick-prev="#heroSlider2" class="slick-arrow slick-prev">ONCE</button>
            <button data-slick-next="#heroSlider2" class="slick-arrow slick-next">SONRA</button>
        </div>
    </div>
    <div class="service-bg2-area" data-bg-src="/img/bg/service-bg2.png">
        <div class="bmi-area-1 space">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="title-area mb-30">
                            <span class="sub-title">Vucüt Kitle Indeksi</span>
                            <h2 class="sec-title text-white fw-semibold">Hesapla</h2>
                            <p class="sec-text">Vucüt Kitle Indeksi, vücut ağırlığının boya göre değerlendirilmesinde yaygın olarak kullanılan bir araçtır. Bir bireyin sağlıklı bir kilo aralığına girip girmediğine dair genel bir gösterge sağlayabilir.</p>
                        </div>
                        <div class="bmi-table mb-lg-0 mb-40">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">BMI</th>
                                        <th scope="col">KILO DURUMU</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">18.5 Altında</th>
                                        <td>Kilo Durumu</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">18.5 - 24.9</th>
                                        <td>Sağlıklı</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">25.0 - 29.9</th>
                                        <td>Kilolu</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">30.0 ve üstü</th>
                                        <td>Obez</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-end">
                        <div class="bmi-calculator-form">
                            <h4 class="form-title">Bilgilerinizi girin:</h4>
                            <form class="bmi-form" id="form" name="bmiCalc">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input for="weight" class="form-control style-border" placeholder="Kilo / KG" type="text" name="weight" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input for="height" class="form-control style-border" placeholder="Boy / CM" type="text" name="height" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input for="bmi_result" class="form-control style-border" placeholder="Vucüt Kitle İndeksiniz" type="text" name="bmi"disabled> 
                                </div>
                                <div class="form-group">
                                    <input for="bmi_message" placeholder="=" class="form-control style-border" type="text" name="meaning" disabled>
                                </div>
                                <div class="btn style3">
                                    <input type="button" value="Hesapla" onClick="calculateBMI()">                               
                                </div>
                            </form>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

        <!--==============================
        Hesaplayıcı App  
        ==============================-->
        <div class="service-area-1 space-bottom overflow-hidden">
            <div class="container">
                <div class="title-area">
                    <span class="sub-title">Hesaplayıcı Uygulaması</span>
                    <h2 class="sec-title text-white fw-semibold">Diğer hesaplama araçları</h2>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="row global-carousel service-slider-1 style2" data-slide-show="4" data-ml-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-dots="false">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-card">
                            <div class="service-card_icon">
                                <img src="/img/icon/service-icon_1-1.svg" alt="img">
                            </div>
                            <div class="service-card_content">
                                <h4 class="service-card_title h5"><a href="/hesap-bazal">Bazal Metabolizma</a></h4>
                                <p class="service-card_text">Bazal metabolizma, vücudun dinlenirken kullandığı minimum ya da temel enerji miktarıdır.</p>
                                <a href="/hesap-bazal" class="link-btn" tabindex="0">Hesapla <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6">
                        <div class="service-card">
                            <div class="service-card_icon">
                                <img src="/img/icon/service-icon_1-2.svg" alt="img">
                            </div>
                            <div class="service-card_content">
                                <h4 class="service-card_title h5"><a href="/hesap-idealkilo">Ideal Kilo</a></h4>
                                <p class="service-card_text">İdeal kilonuzu etkileyen birden fazla faktör vardır. Yaş, cinsiyet, kas kütlesi, genetik, etnik köken ve fiziksel aktivite seviyeleri bu faktörlerden yalnızca birkaçını oluşturur. Birçoğumuz bu sihirli rakamı tartıda ararken gerçek ideal bir ağırlığın olmadığı yönünde.</p>
                                <a href="/hesap-idealkilo" class="link-btn" tabindex="0">Hesapla <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6">
                        <div class="service-card">
                            <div class="service-card_icon">
                                <img src="/img/icon/service-icon_1-3.svg" alt="img">
                            </div>
                            <div class="service-card_content">
                                <h4 class="service-card_title h5"><a href="/hesap-kalori">Günlük Kalori İhtiyacı</a></h4>
                                <p class="service-card_text">İnsan vücudunun hayatta kalabilmesi ve günlük faaliyetlerini sürdürebilmesi için belirli miktarda kaloriye ihtiyacı vardır. Kişinin boy, kilo gibi belirli özelliklerine göre değişen bu kalori miktarına günlük kalori ihtiyacı denir.</p>
                                <a href="/hesap-kalori" class="link-btn" tabindex="0">Hesapla <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6">
                        <div class="service-card">
                            <div class="service-card_icon">
                                <img src="/img/icon/service-icon_1-4.svg" alt="img">
                            </div>
                            <div class="service-card_content">
                                <h4 class="service-card_title h5"><a href="/hesap-kitle">Vucüt Kitle İndeksi</a></h4>
                                <p class="service-card_text">Vücut kitle endeksi(BMI) bir diğer adıyla boy kilo endeksi, sahip olunan vücut yağ miktarını tahmin etmek için boy ve kilo ölçümlerinden elde edilen verilerin kullanıldığı tıbbi bir tarama aracıdır.</p>
                                <a href="/hesap-kitle" class="link-btn" tabindex="0">Hesapla <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="service-card">
                            <div class="service-card_icon">
                                <img src="/img/icon/service-icon_1-1.svg" alt="img">
                            </div>
                            <div class="service-card_content">
                                <h4 class="service-card_title h5"><a href="/hesap-gunluksu">Günlük Su İhtiyacı</a></h4>
                                <p class="service-card_text">Vücudun yaşamsal faaliyetlerini devam ettirebilmesi için gerek duyduğu günlük su miktarına günlük su ihtiyacı denir.</p>
                                <a href="/hesap-gunluksu" class="link-btn" tabindex="0">Hesapla <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6">
                        <div class="service-card">
                            <div class="service-card_icon">
                                <img src="/img/icon/service-icon_1-2.svg" alt="img">
                            </div>
                            <div class="service-card_content">
                                <h4 class="service-card_title h5"><a href="/hesap-vucutyag">Vücut Yağ Oranı</a></h4>
                                <p class="service-card_text">Vücut yağ oranı, genel vücut kompozisyonunuzun ve ağırlığınızın ne kadarının yağ, ne kadarının yağsız kütle olduğunu gösteren bir ölçümdür. Vücudunuzdaki yağ dokusunun temel işlevi enerjiyi lipit şeklinde depolamanın yanı sıra organları desteklemek ve onları birbirinden yalıtmaktır.</p>
                                <a href="/hesap-vucutyag" class="link-btn" tabindex="0">Hesapla <i class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="sec-shape2-bottom">
            <img src="/img/bg/sec-shape2-top.png" alt="img">
        </div>
    </div>
    <!--==============================
    Blog
    ==============================-->
    <section class="blog-area-2 space">
        <div class="container container2">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 position-relative">
                    <div class="blog_sec_title_static me-lg-3">
                        <div class="blog_sec_title_wrap">
                            <div class="title-area">
                                <span class="sub-title">Blog Yazılarımız
                                </span>
                                <h2 class="sec-title fw-semibold">Son yazdıklarımızı okuyun</h2>
                                <p class="sec-text">Daha sağlıklı bir yaşam yolculuğunuzda size yardımcı olacak değerli bilgileri, ipuçlarını ve ilhamları paylaştığımız spor salonu blogumuza hoş geldiniz...</p>
                            </div>
                            <a class="btn style-r0" href="/blog">Daha fazla</a>
                        </div>                        
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6">
                    <% data.forEach(post => { %>
                    <div class="blog-card style2">
                        <div class="blog-img">
                            <img src="<%= post.img %>" alt="blog image">
                        </div>
                        <div class="blog-content">
                            <div class="blog-meta">
                                <a href="/post/<%= post._id %>"><%= moment(post.createdAt).format('Do MMMM, YYYY') %></a>
                                <a href="/post/<%= post._id %>">Ekleyen: Admin</a>
                            </div>
                            <h3 class="blog-title box-title"><a href="/post/<%= post._id %>"><%= post.title %></a></h3>
                            <a href="/post/<%= post._id %>" class="link-btn style2"><i class="fas fa-arrow-right"></i> Devamını Oku</a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </section>    

    <!--==============================
        Footer 
    ==============================-->
        <footer class="footer-wrapper footer-layout1" data-bg-src="/img/bg/footer-1-bg.png">    
    
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-auto align-self-center"><p class="copyright-text text-center">© 2024 <a href="#">AtlasFit.</a> Tüm Hakları Saklıdır.</p></div>
                    </div>                
                </div>
            </div>
        </footer>
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>

    <script src="/js/vendor/jquery-3.6.0.min.js"></script>

    <script src="/js/slick.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/jquery.magnific-popup.min.js"></script>

    <script src="/js/jquery.counterup.min.js"></script>

    <script src="/js/jquery-ui.min.js"></script>

    <script src="/js/jquery.flipster.min.js"></script>

    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>

    <script src="/js/bmi.calculator.js"></script>

    <script src="/js/main.js"></script>
</body>
</html>